---
import Container from "./Container.astro";
import { Image } from "astro:assets";
import asideImg1 from "../assets/images/asideImg1.jpg";
import asideImg2 from "../assets/images/asideImg2.jpg";
---

<div
  class="w-screen bg-[url(../assets/images/about_background.jpg)] bg-cover bg-no-repeat bg-amber-400/10 bg-blend-overlay flex items-center justify-center flex-col md:flex-row"
>
  <Container as="section" class="px-4 w-full flex flex-col md:flex-row my-10">
    <!-- About Left -->
    <div class="flex-1 space-y-4 md:pr-4 md:border-r-2 md:border-amber-400/20">
      <h1 class="uppercase text-xs text-teal-900 font-semibold font-roboto">
        About
      </h1>
      <h1
        class="text-teal-950 font-marcellus text-3xl font-bold tracking-wider"
      >
        The place where you grow
        <span
          class="text-amber-600/60 text-3xl font-marcellus tracking-wider font-bold"
        >
          and learn
        </span>
      </h1>

      <p class="text-teal-950 font-semibold tracking-wide text-sm font-roboto">
        Our community is being called to reimagine the future. As the only
        university where a renowned design school comes together with premier
        colleges, we are making learning more relevant and transformational.
      </p>
      <p class="tracking-wide text-sm font-roboto">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Quis ipsum
        suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
        lacus vel facilisis.
      </p>

      <!-- statistic card -->
      <div class="text-gray-200 flex gap-2 flex-col md:flex-row">
        <div class="bg-amber-600/80 p-4 flex-1 rounded-sm">
          <h1 class="text-3xl font-bold">350+</h1>
          <p>Professors</p>
        </div>
        <div class="bg-amber-600/80 p-4 flex-1 rounded-sm">
          <h1 class="text-3xl font-bold">450k</h1>
          <p>Students</p>
        </div>
      </div>

      <!-- apply button -->
      <button class="py-2 px-4 bg-teal-900 text-gray-200 rounded-sm"
        >Apply Admission</button
      >
    </div>

    <!-- About Right -->
    <aside class="flex-1 mt-10 md:ml-4 flex flex-col">
      <div class="bg-teal-900 self-end">
        <Image src={asideImg1} alt="image-1" class="w-75 h-57 object-cover" />
      </div>
      <div class="-mt-10">
        <Image
          src={asideImg2}
          alt="image-2"
          class="w-75 h-57 object-cover object-top border-2 border-gray-100 hover:grayscale transition-all duration-300"
        />
      </div>
    </aside>
  </Container>
</div>
